#LoginBox{
    display: flex;
    justify-content: center;

    #LoginContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 10rem;
    }

    label {
        margin: 1px;
    }

    input {
        margin: 2px;
    }

    button {
        margin-top: 6px;
    }

    #loginBtn{
        width: 5rem;
        align-self: center;
    }
}